body{
    background-color: burlywood;
    width: 800px;
}

#infoBox {
    border:solid; 
    text-align:center; 
    margin-bottom:10px;
    padding: 2px;
}

.textbereich {
    padding-left:5px;
    padding-top:0;
    border: dotted;
    margin-bottom:5px;
}

#opponent {
    background-color: whitesmoke;
    margin-bottom:5px;
    border: dotted;
    padding: 5px;
    font-style: normal;
    font-size: medium;
}

#opponent button {
    background-color: burlywood;
    padding:10px;
    border: none;
    border-radius:10px;
}

#intro {
    background-color: whitesmoke;
}

#manual {
    background-color: whitesmoke;
}

body{
    background-color: burlywood;
    width: 800px;
}

#infoBox {
    border:solid; 
    text-align:center; 
    margin-bottom:10px;
    padding: 2px;
}

.textbereich {
    padding-left:5px;
    padding-top:0;
    border: dotted;
    margin-bottom:5px;
}

#opponent {
    background-color: whitesmoke;
    margin-bottom:5px;
    border: dotted;
    padding: 5px;
    font-style: normal;
    font-size: medium;
}

#opponent button {
    background-color: burlywood;
    padding:10px;
    border: none;
    border-radius:10px;
}

#intro {
    background-color: whitesmoke;
}

#manual {
    background-color: whitesmoke;
}
